<article>
  <ul> 
    <li>
      {% if not hide_author %}
      Автор: {{ post.author.get_full_name }} 
      <a href="{% url 'posts:profile' post.author.username %}">
      все посты пользователя</a>
      {% endif %}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
    <p>{{ post.text }}</p>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>    
</article>
{% if not hide_group and post.group %}   
<a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
{% endif %}