{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ users.name }}
{% endblock %}
{% block content %}
<h1>Все посты пользователя {{ users.name }}</h1>
      <div class="container py-5">        
        <h1>Все посты пользователя <!--Лев Толстой--> </h1>
        <h3>Всего постов: <!-- --> </h3>   
        <article>
          <ul>
            <li>
              Автор: <!--Лев Толстой-->
              <a href="<!-- -->">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>
            {{ post.text }} 
          </p>
          <a href="<!-- -->">подробная информация </a>
        </article>       
        {% if post.group %}   
        <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
        {% endif %}      
        {% if not forloop.last %}<hr>{% endif %}
        {% include 'posts/includes/paginator.html' %} 
{% endblock %}